
.btn-inicio{
        background-color: #31ac00;
        color: white;
        border-color: white;
    }
    .btn-inicio:hover{
        background-color: white;
        color: #31ac00;
        border-color: #31ac00;
    }
    .btn-final{
        background-color: #cf3700;
        color: white;
        border-color: white;
    }
    .btn-final:hover{
        background-color: white;
        color: #cf3700;
        border-color: #cf3700;
    }
    .menu{
        background-color: #D9704A;
    }
    .fontText{
        color: white;
        
        }