<nav class="navbar navbar-expand-lg menuBar">
  <a class="nav-link " href="../inicio"><img src="https://i.imgur.com/sC0h5zW.png" alt="logo" width="65px"
    height="31px" class="img-fluid"> <span class="sr-only">(página atual)</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon img-fluid"><img src="https://i.imgur.com/KYR6hR2.png" width="30px"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link fontText mr-2" href="../inicio"> Perfect Pitch <span class="sr-only">(Página atual)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link fontText mr-2" href="../entrar/">Faça seu Pitch</a>
      </li>
      <li class="nav-item">
        <a class="nav-link fontText mr-2" href="../entrar/">Entrar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link fontText mr-2" href="../cadastrar/">Cadastrar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link fontText mr-2" href="../sobre/">Sobre</a>
      </li>
    </ul>
  </div>
</nav>