<div class="container-fluid fundo">
    <div class="row">

        <div class="col-md-12 mt-5 mt-5">
            <div class="row d-flex justify-content-center mb-5">
                <div class="col-md-12">
                    <h1 class="text-center titleFont">AQUI VOCÊ ENCONTRA O HISTÓRICO DE SEUS PITCH'S</h1>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 justify-content-center text-center d-flex mb-5">
                    <form class="form-inline my-2 my-lg-0 ">
                        <input [(ngModel)]='pitch.id' class="form-control mr-sm-2 " type="text" placeholder="Pesquisar"
                            aria-label="Pesquisar" >
                        <button  class="btn my-2 my-sm-0 btn-outline-dark" type="submit">Pesquisar</button>
                    </form>
                </div>
            </div>
            <div class="box ">
                <div class="content" style="align-items: center;">
                    <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th scope="col">id</th>
                            <th scope="col">Tema</th>
                            <th scope="col">Data</th>
                            <th scope="col">Editar/Apagar</th>
                           </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor='let pitch of listaPitchs'>
                            <th>{{pitch.id}}</th>
                            <td>{{pitch.tema}}</td>
                            <td>{{pitch.data}}</td>
                            <td class="d-flex justify-content-start">
                                <button class="btn btn-info mr-3" [routerLink]="['/pitch-edit', pitch.id]" >Editar</button>
                                <button class="btn btn-danger mr-3" [routerLink]="['/pitch-delete', pitch.id]" >Apagar</button>
                                <button class="btn btn-success" [routerLink]="['/leitura', pitch.id]" >Leitura</button>
                              </td>
                          </tr>
                        </tbody>

                      </table>
                 </div>
            </div>
            <div class="row container">
                <div class="col-md-12 justify-content-center text-center d-flex mb-5">
                    <button class="btn my-2 my-sm-0 btn-color text-center" type="submit "
                        routerLink='/speech-to-text'>Retornar para o Pitch</button>
                </div>
            </div>
        </div>
    </div>
</div>