<div class="container-fluid menu">
    <div class="row">


        <div class="col-md-6 mt-5 mt-5">
            <div class="row d-flex justify-content-center mb-5">
                <div class="col-md-10">
                    <h1 class="text-center titleFont">DICAS PARA SEU PITCH</h1>
                    <p class="text-center paragrafoFont">1. Defina seu objetivo: Por que e para quem você quer criar seu
                        pitch?</p>
                    <p class="text-center paragrafoFont">2. Estude seu público: Não adianta criar uma apresentação
                        engessada e decorada para todas as situações. Deve ser capaz de alterar seu Pitch com base no
                        publico ao qual você irá apresenta-lo.</p>
                    <p class="text-center paragrafoFont">3. Seja objetivo: Lembre-se, o pitch é curto.</p>
                    <p class="text-center paragrafoFont">4. Quem é você? Mas atenção, nada de compartilhar coisas muito
                        pessoais ou fora de contexto, como brigas com o crush ou sua capacidade de ir para a aula mesmo
                        viradx da balada! </p>
                    <p class="text-center paragrafoFont">5. Como cheguei até aqui? Aqui vale falar de trabalhos
                        voluntários, atuação em EJs, intercâmbio, iniciação científica e até a importância que a prática
                        de algum esporte tem na sua vida.</p>
                    <p class="text-center paragrafoFont">6. Crie Conexões: Reserve um tempo do seu pitch para mostrar
                        que você estudou sobre a empresa e contar o que você pode fazer, (seus diferenciais) para ajudar
                        na construção do futuro da companhia ou da área que você quer atuar.</p>
                    <p class="text-center paragrafoFont">7. Todo fim pode ser um começo: Em vez de encerrar seu pitch
                        com um simples “obrigadx”, que tal fazer uma pergunta ou afirmação que reforce a conexão que
                        você começou a fazer no passo anterior?</p>
                    <hr class="hr">
                    <p class="text-center paragrafoFont">Dicas retiradas de:</p>
                    <div class="text-center">
                    <li>
                        <a href="https://www.ciadetalentos.com.br/blog/pitch-pessoal/" target="_blank"
                            class="iconLetra corLetrasRodaPe">
                            <small>Talentos</small>
                        </a>
                    </li>
                    <li>
                        
                        <a href="https://www.sbcoaching.com.br/pitch/" target="_blank"
                            class="iconLetra corLetrasRodaPe">
                            <small>sbcoaching</small>
                        </a>
                    </li>
                </div>

                </div>
            </div>
        </div>
        <div class="col-md-6 img-fluid" id="img-bg">
        </div>
    </div>
</div>