<footer class="page-footer font-small backgroundRodape pt-4">

    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="corLetrasRodaPe">Built by Generation Brasil Students</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <ul class="socialNetwork">
                    <li><!--linkedin-->
                        <a href="https://www.linkedin.com/school/generationbrasil/" target="_blank" class="iconLetra corLetrasRodaPe">
                            <small>Linkedin</small>
                        </a>
                    </li><!--/linkedin-->
                    <li><!--github-->
                        <a href="https://github.com/jaquelinecavalaro/Perfect-Pitch" target="_blank" class="iconLetra corLetrasRodaPe">
                            <small>GitHub</small>
                        </a>
                    </li><!--/github-->
                    <li><!--WebSite-->
                        <a href="https://brazil.generation.org/" target="_blank" class="iconLetra corLetrasRodaPe">
                            <small>WebSite</small>
                        </a>
                    </li><!--/WebSite-->
                    <li><!--instagram-->
                        <a href="https://www.instagram.com/generationbrasil/" target="_blank" class="iconLetra corLetrasRodaPe">
                            <small>Instagram</small>
                        </a>
                    </li><!--/instagram-->
                   
                </ul>
            </div>
        </div>
    </div>
    <hr>
    <div class="footer-copyright text-center backgroundCopy py-3">
        <span class="corLetrasRodaPe "> © 2021 Copyright: </span>
            <small class="corLetrasRodaPe "> Alunos Generation Brasil </small>
        
        

    </div>
   

</footer>
    