<div class="container mb-5 mt-5">

    <div class="row mb-5">
      <div class="col-md-12">
        <h1 class="text-center text-secondary">Apagar Pitch</h1>
      </div>
    </div>
  
    <div class="row mb-3">
      <div class="col-md-12">
        <h4 class="text-center text-secondary">Você tem certeza que deseja apagar esse pitch?</h4>
      </div>
    </div>
  
    <div class="row mb-4">
      <div class="col-md-12">
        <h5 class="text-center text-primary">Pitch: {{pitch.texto}}</h5>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <button class="btn btn-danger mr-4" routerLink='/historico' >Não</button>
        <button class="btn btn-success" (click)='apagar()'>Sim</button>
      </div>
    </div>
  </div>