<div class="container-fluid menu">
    <div class="row">


        <div class="col-md-12 mt-5 mt-5">
            <div class="row d-flex justify-content-center mb-5">
                <div class="col-md-7">
                    <h1 class="text-center titleFont">SOBRE O PROJETO DO SITE</h1>
                    <p class="text-center paragrafoFont">A ideia deste site surgiu após percebermos que muitos
                        participantes possuem dificuldade para apresentarem seus Pitchs para a turma.</p>
                    <p class="text-center paragrafoFont">A finalidade é que os membros da turma da Generation Brasil,
                        sejam capazes de treinar o Pitch sozinhos. Com o auxilio do programa de voz e escrita, o usuário
                        fala seu Pitch e será capaz de conseguir reve-lo em forma de texto.</p>
                    <p class="text-center paragrafoFont">Desta forma o usuário conseguirá ver em seu Pitch as melhores
                        partes e quais partes ele pode alterar para conseguir o PERFECT PITCH.</p>

                    <hr class="hr">
                    <p class="text-white text-center">Idealizadores: </p>
                    <div class="ml-5 text-center ">
                        <a href="https://www.linkedin.com/in/jaqueline-cavalaro/" target="_blank"
                            class="   iconLetra corLetrasRodaPe">Jaqueline Cavalaro </a>
                        <a href="https://www.linkedin.com/in/wellingtonsb/" target="_blank"
                            class="iconLetra corLetrasRodaPe">& Wellington Bezerra</a>
                    </div>


                </div>

            </div>

        </div>

    </div>
</div>