ul.social-network{
    list-style:none;
    padding: 0;
}
ul.social-network li{
    display: inline;
    margin: 0;
    padding: 10px;
}
.fa{
    font-size: 35pt;
    color: white;
    padding: 10px;
}

.fa-linkedin-square:hover{
    color: rgb(177, 108, 19);
}

.fa-github:hover{
    color: rgb(177, 108, 19);
}